*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(243, 186, 186, 0.696);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-size: 0.7rem;
}

div.container {
    overflow: hidden;
}

.figure-wrapper {
    display: flex;
    height: 6rem;
    width: 14rem;
}

div.fig-container {
    align-items: center;
    height: 6rem;
    width: 14rem;
    padding: 0.5rem;
}

figure {
    height: 6rem;
    width: 14rem;
}

figcaption {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    font-style: oblique;
}

table {
    text-align: left;
}

img {
    height: 4rem;
    width: 12rem;
}

button[title = 'arrow'] {
    border: none;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    z-index: 99;
}

button[title = 'arrow']:focus {
    outline: 0.1rem solid black;
}

button[title = 'arrow']:active {
    background-color: rgb(50, 250, 250);
    color: white;
}

button[title = 'arrow']:active span[class ^= 'arrow-'] {
    background-color: white;
}

button.left-arrow {
    transform: rotate(-90deg);
    left: 5%;
}

button.right-arrow {
    transform: rotate(90deg);
    right: 5%;
}

button.left-arrow > span.arrow-line:nth-child(1),
button.right-arrow > span.arrow-line:nth-child(1) {
    transform: translateY(0.2rem) translateX(0.05rem) rotate(-45deg);
    left: 0;
}

button.left-arrow > span.arrow-line:nth-child(2),
button.right-arrow > span.arrow-line:nth-child(2) {
    transform: translateY(0.2rem) translateX(-0.05rem) rotate(45deg);
    right: 0;
}

span[class ^= 'arrow-'] {
    display: block;
    position: absolute;
    top: 0;
    width: 0.25rem;
    height: 0.05rem;
    background-color: black;
}


@media screen and (min-width: 40em) {
    body {
        font-size: 1.4rem;
    }

    .figure-wrapper {
        display: flex;
        height: 12rem;
        width: 28rem;
    }
    
    div.fig-container {
        height: 12rem;
        width: 28rem;
    }
    
    figure {
        height: 12rem;
        width: 28em;
    }

    img {
        height: 8rem;
        width: 24rem;
    }

    button[title = 'arrow'] {
        height: 1rem;
        width: 1rem;
    }

    button[title = 'arrow']:focus {
        outline: 0.2rem solid black;
    }

    button.left-arrow {
        transform: rotate(90deg);
    }
    
    button.right-arrow {
        transform: rotate(-90deg);
    }

    button.left-arrow > span.arrow-line:nth-child(1),
    button.right-arrow > span.arrow-line:nth-child(1) {
        transform: translateY(0.5rem) translateX(0.4rem) rotate(-45deg);

    }

    button.left-arrow > span.arrow-line:nth-child(2),
    button.right-arrow > span.arrow-line:nth-child(2) {
        transform: translateY(0.5rem) translateX(-0.4rem) rotate(45deg);
    }

    span[class ^= 'arrow-'] {
        width: 0.5rem;
        height: 0.1rem;
        background-color: black;
    }

}


@media screen and (min-width: 80em) {
    body {
        font-size: 2.4rem;
    }

    div.container {
        height: 24rem;
        width: 56rem;
    }

    .figure-wrapper {
        display: flex;
        height: 24rem;
        width: 56rem;
    }
    
    div.fig-container {
        height: 24rem;
        width: 56rem;
    }
    
    figure {
        height: 24rem;
        width: 56rem;
    }

    img {
        height: 16rem;
        width: 48rem;
    }

    button[title = 'arrow'] {
        height: 2rem;
        width: 2rem;
    }

    button[title = 'arrow']:focus {
        outline: 0.4rem solid black;
    }

    button.left-arrow {
        transform: rotate(-90deg);
    }
    
    button.right-arrow {
        transform: rotate(90deg);
    }

    button.left-arrow > span.arrow-line:nth-child(1),
    button.right-arrow > span.arrow-line:nth-child(1) {
        transform: translateY(0.8rem) translateX(0.2rem) rotate(-45deg);

    }

    button.left-arrow > span.arrow-line:nth-child(2),
    button.right-arrow > span.arrow-line:nth-child(2) {
        transform: translateY(0.8rem) translateX(-0.2rem) rotate(45deg);
    }

    span[class ^= 'arrow-'] {
        width: 1rem;
        height: 0.15rem;
        background-color: black;
    }

}
